@import "./reset.scss";
@import "./variables.scss";

@import "./components/_layout.scss";
@import "./components/_flexbox.scss";
@import "./components/_menu-burger.scss";

/* Règles Générales */
h1,h2,h3,h4 {
    font-family: var(--fontTitre);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
body {
    font-family: var(--fontTexte);
    background-color: var(--fourthColor);
}
a {
    color: inherit;
    text-decoration: none;
}
.reponsive img {
    height: 100%;
    object-fit: cover;
}
.bg-black {
    background-color: var(--firstColor);
    color: var(--fourthColor);
}
.button-cta {
    background-color: var(--secondColor);
    color: var(--fourthColor);
    font-weight: 700;
}
.button {
    color: var(--firstColor);
    text-align: center;
    font-weight: 700;
    border: 2px solid var(--firstColor);
    padding: 12px 0;
}
.padding-button {
    padding: var(--paddingButton);
}

/* Règles sur le Header */
header {
    padding-top: 7px;
    padding-bottom: 7px;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}
header nav li.en-avant {
    border: 1px solid var(--fourthColor);
}
header nav li:hover {
    font-weight: 700;
    color: var(--fifthColor)
}
.vide-header {
    height: 80px;
    width:100%;
}

/* Règles sur les bootiques dans le footer */
#map {
    height: 420px;
}

/* Règles sur la page d'accueil */
/* Mise en forme du Hero */
.hero {
    height: calc(70vh - 80px);
    background-image: url("../images/images-site/banniere-running.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero .accroche {
    gap: 32px;
    transform: translateX(-25%);
}
.hero .accroche p {
    font-size: 1.375rem;
}
/* Section des catégories */
.categories h3 {
    background-color: var(--firstColor);
    color: var(--fourthColor);
    text-transform: uppercase;
    font-family: var(--fontTexte);
    font-weight: 700;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Section pour la gamme outdoor */
.gamme-outdoor {
    background-image: url("../images/images-site/accueil-bg-outdoor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.outdoor-accroche {
    transform: translateY(100%);
}
.article-outdoor {
    
    margin-top: -220px;
}
.article-outdoor article {
    border: 1px solid var(--firstColor);
}
.article-outdoor article strong {
    text-transform: uppercase;
    font-size: 1.375rem;
}
.prix {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondColor);
}
.article-outdoor  article ul {
    list-style: disc;
    list-style-position: inside;
}
.article-outdoor article a {
    color: var(--secondColor);
    font-weight: 700;
    text-align: center;
}

/* Section pour le formulaire de contact */
#form-contact label {
    font-weight: 700;
    width: 100%;
    display: inline-block;
    margin-bottom: 8px;
}
#form-contact input,select,textarea {
    width: 100%;
    padding: 4px 8px;
}
#form-contact textarea {
    height: 100px;
}
#form-contact input[type=submit] {
    background-color: var(--secondColor);
    color: var(--fourthColor);
    font-weight: 700;
    padding: var(--paddingButton);
    width: -moz-fit-content;
    width: fit-content;
}

/* Règles sur la page de liste des produits */
/* Mise en forme du fil d'ariane */
.fil-ariane {
    font-weight: 700;

    &>* {
        padding: 5px 16px;
    }
    .categorie {
        background-color: var(--firstColor);
        color: var(--fourthColor);
    }
    .sous-categorie {
        background-color: var(--thirdColor);
        color: var(--firstColor); 
    }
    .produit {
        background-color: var(--secondColor);
        color: var(--fourthColor); 
    }
}
/* Formulaire de filtre des produits */
#filtre-produit #prix-mini,#prix-maxi {
    width: 100px;
}
#filtre-produit #search {
    width: 30%;
}
/* Mise en forme de la liste des produits */
.liste-produits article {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.33);
}

/* Règles sur la page de détail d'un produit */
.detail-produit h1 {
    width: 90
}
.detail-produit ul {
    list-style: disc;
    list-style-position: inside;
}
.detail-produit span {
    font-weight: 700;
}
.detail-produit label {
    font-weight: 700;
}
.pastille-couleur {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.couleur-bleu {
    background-color: #3531EF;
}
.couleur-violet {
    background-color: #911CED;
}
.couleur-orange {
    background-color: #EB3535;
}
.couleur-vert {
    background-color: #1BC92C;
}
.image-avis {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--firstColor);
}
.nom-avis {
    font-family: var(--fontTitre);
}

@media all and (max-width : $widthSmartphone) {
    .hero {
        display: none;
    }

    /* Section pour la gamme outdoor */
    .gamme-outdoor {
        background-image: url("../images/images-site/accueil-bg-outdoor.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
    }
    .outdoor-accroche {
        transform: none;
    }
    .article-outdoor {
        margin-top: 0;
    }
    .article-outdoor article {
        border: 1px solid var(--firstColor);
    }
    .article-outdoor article strong {
        text-transform: uppercase;
        font-size: 1.375rem;
    }
    .prix {
        font-size: 2rem;
        font-weight: 700;
        color: var(--secondColor);
    }
    .article-outdoor  article ul {
        list-style: disc;
        list-style-position: inside;
    }
    .article-outdoor article a {
        color: var(--secondColor);
        font-weight: 700;
        text-align: center;
    }
}
